a {
color: #000000;
pointer: cursor;
}
.modal-header{
	background-color: #db8b0b !important;
}
.modal-title{
	color: #fff;
}
thead, th {text-align: center;}
.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: -5px;
}
table tbody td {
min-width: 100px;
}
.select2-selection--single {
  height: 100% !important;
}
.select2-selection__rendered{
  word-wrap: break-word !important;
  text-overflow: inherit !important;
  white-space: normal !important;
}
.table-borderless td, .table-borderless th {
 border: none !important;
}
